<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
  <div class="flash <%= kind %>">
    <%= flash[kind] %>
  </div>
<% end %>

<center>
<h1>SCRUM by Jared</h1>
<h2>Pied Piper Agile Development System</h2>

<a href='/register'>Register </a>
</br>
</br>
<a href='/login'>Login </a>

</center>
