<h1>Welcome to FusionAuth Guide for Sinatra Applications</h1>

<h2>Congratulations <%= current_user.first_name + ' ' + current_user.last_name %>, you are now logged in!</h2>


<h2>Profile Information</h2>

<img src= <%= current_user.image_url %> />

<h3>Name: <%= current_user.first_name + ' ' + current_user.last_name %></h3>


<form action="/delete_account" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account" />
</form>
